#1{
    background-color: white;
}

body{
    background-color: #F2FBFC; 
}

.btn{
    color: #F2FBFC;
    background-color: #BDBDBD;
}
.btn:hover{
    color: #F2FBFC;
    background-color: #e0e0e0;
}

h1{
    font-size: 182.5px;
    padding-bottom: 10px;
}